
#button{ 
    display: flex;
    gap: 1rem;
}
#button button{ 
    width: 5rem;
}
#addBtn{ 
   width: 110px;
   margin-bottom: 5px;
 height:auto;
}
#addField{ 
    width: 90%;
    height: 3rem;
    padding-left: .5rem;
}